In [ ]:
print("Olá Mundo!!! De Jacareí, SP")

Olá Mundo!!! De Jacareí, SP

PRIMEIRO PROJETO DE CECEL

In [23]:
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

import pandas as pd

df = pd.read_csv("KAG_conversion_data.csv")

#type(df)

#df.head(n=5)

#df.tail(n=5)

#df.columns

#df.index

#df.shape
#linhas,colunas = df.shape
#print(f "O numero de linhas = {linhas}; o numero de colunas = {colunas})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB